<!DOCTYPE html>
<html>
    
    
<head>
        <title>Maruti Admin</title><meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block stylesheets %}
		<link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}" />
		<link rel="stylesheet" href="{{asset('assets/css/bootstrap-responsive.min.css')}}" />
        <link rel="stylesheet" href="{{asset('assets/css/maruti-login.css')}}" />
   
       {% endblock %}

</head>
            <div id="loginbox">   
   
       
                
    {% block content %}{% endblock %}

  </div>


    {% block javascripts %}
        
        <script src="{{asset('assets/js/jquery.min.js')}}"></script>  
        <script src="{{asset('assets/js/maruti.login.js')}}"></script> 

    {% endblock %}
   
        </div>
</body>
</html>