{% extends 'base.html.twig' %}

{% block body %}
    <h1></h1>  <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box" style="margin-left: 25em ;width: 100% ">
                    <div class="widget-title">
                        <span class="icon">
                            <a href="{{ path('listannonce_index') }}" ><i class="icon-arrow-left"></i></a>
                        </span>
                    </div>
                    <div class="widget-content">



                        <table>

                            <tbody>
                                <tr>
                                    <td> 
                                        <a  class="thumbnail lightbox_trigger" href="{{ asset('uploads/images/' ~ annonce.image) }}"><img src="{{ asset('uploads/images/' ~ annonce.image) }}" height="100px" width="200px" ></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Region</th>
                                    <td>{{ annonce.region }}</td>
                                </tr>
                                <tr>
                                    <th>Ville</th>
                                    <td>{{ annonce.ville }}</td>
                                </tr>
                          
                                <tr>
                                    <th>Prix</th>
                                    <td>{{ annonce.prix }}</td>
                                </tr>
                                {% if   annonce.categorie=="immobilier"%}
                                    <tr>
                                <th>Chambre</th>
                                <td>{{ annonce.chambre}}</td>
                            </tr>
                            <tr>
                                <th>Superficie</th>
                                <td>{{ annonce.superficie}} m²</td>
                            </tr>
                            {%else %}
                                <tr>
                                <th>Margue</th>
                                <td>{{ annonce.marque }}</td>
                                </tr>
                                <tr>
                                 <th>Année </th>
                                <td>{{ annonce.anne }}</td>
                                </tr>
                                <tr>
                                 <th>Kelometrage</th>
                                <td>{{ annonce.kelometrage }}</td>
                                </tr>
                            {%endif%}
                            </tr> 
                               <tr>
                                    <th>Description</th>
                                    <td><p>{{ annonce.description }}</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>   </div>
    {% endblock %}
